
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Agenda</h1>
  </div>
</div>

<div class="container">

    <table class="table">
        <thead>
          <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Telefono</th>
            <th scope="col">Editar</th>
            <th scope="col">Eliminar</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of users; let i = index">
            <th>
              {{item.name}}
            </th>
            <td>
              {{item.number}}
            </td>
            <td>
                <button type="button" class="btn btn" 
                (click)="openModal(template, item)">Editar</button>&nbsp;              
            </td>
            <td>
                <button type="button" class="btn btn-danger" 
                (click)="delete(item)">Eliminar</button>
            </td>
          </tr>
        </tbody>
      </table>

  <button type="button" class="btn btn-info" 
  (click)="newUser(content)">Nuevo</button> &nbsp;

  
  

</div>

<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Usuario</h4>
  </div>
  <div class="modal-body">
    <form #f="ngForm" (ngSubmit)="onSubmit(f)">
      <div class="form-group">
        <label for="name">Nombre</label>
        <input type="text" class="form-control" name="name" ngModel required>
      </div>

      <div class="form-group">
        <label for="name">Telefono</label>
        <input type="text" class="form-control" name="number" ngModel required>
      </div>
      <button type="button" class="btn btn-outline-dark">Guardar</button>
    </form>
  </div>
</ng-template>


<ng-template #template>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Usuario</h4>
        <button type="button" class="close pull-right" 
                aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
    </div>
    <div class="modal-body">
      <form #userForm="ngForm">
        <div class="form-group">
          <label for="name">Nombre</label>
          <input type="text" class="form-control" [(ngModel)]="user.name" required>
        </div>
  
        <div class="form-group">
          <label for="name">Telefono</label>
          <input type="text" class="form-control" [(ngModel)]="user.number" required>
        </div>
   
        <button type="submit" class="btn btn-success">Actualizar</button>
   
      </form>
  </div>
</ng-template>
